* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f7f7f7;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

header h1 {
  font-size: 36px;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.content {
  flex: 2;
  margin: 10px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.content h2 {
  color: #333;
}

.sidebar {
  flex: 1;
  margin: 10px;
  background-color: #333;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
  }
  .content,
  .sidebar {
    flex: 1;
  }
}
